{% extends 'logged.html' %}

{% block title %}FillYourWallet - Dodaj wydatek{% endblock %}

{% block expense %} active {% endblock %}

{% block content %} 
<section>
    <article>
        <header>
            <h2 class = "h2 text-center mt-lg-5 mt-3 pt-lg-5 pt-0">
                WPROWADŹ WYDATEK
            </h2>                
        </header>
        <div class = "container">
            <div class="modal fade" id="modalDatePicker" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4>Wprowadź zakres dat dla bilansu</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form action = "/customBalance" method = "post">
                                <label for="beginDate">Od:</label>
                                <input type="date" class="form-control mb-3" name = "beginDate" id = "beginDate" required>                                    
                                <label for="endDate">Do: </label>
                                <input type="date" class="form-control mb-3" name = "endDate" id = "endDate" required>
                                <button type="submit" class="btn btn-default btn-dark-green btn-block">Pokaż bilans</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row mt-lg-5 mt-1">
               
                   
                  
                <div class = "col-12 col-lg-4 offset-lg-4 offset-0"> 
                    <form action = "/addExpense" method = "post">
                        <div class = "form-group income">
                            <input type="number" step = '0.01' class="form-control mb-3 ml-1" placeholder="Kwota" onfocus="this.placeholder=''" onblur="this.placeholder='Kwota'" name = "amount" value = "{{expenses.amount}}" autocomplete="off" required>
                            {% if errors.amountError is not empty%}                            
                            <div style="color:red; font-size:13; text-align:center">{{errors.amountError|join('<br/>')|raw}}</div>                            
                            {% endif %}
                            <div class="alert ml-1" role="alert" style = "display: none;">
                                <span class = "alert-limit">Limit kategorii: <span class = "font-weight-bold" id = "alert-category-limit">500 PLN</span></span><br>
                                <span class = "alert-limit">Dotychczas wydano: <span class = "font-weight-bold" id = "alert-category-expenses">500 PLN</span></span><br>
                                <span class = "alert-limit">RAZEM: <span class = "font-weight-bold" id = "alert-category-total">500 PLN</span></span>           
                            </div>
                            <input type="date" class="form-control mb-3 ml-1" name = "date"  value = "{% if expenses.date is defined %}{{expenses.date}}{% else %}{{currentDate}}{% endif %}" required>
                            {% if errors.dateError is not empty%}                            
                            <div style="color:red; font-size:13; text-align:center">{{errors.dateError|join('<br>')|raw}}</div>                            
                            {% endif %}
                            <select class="mb-3 w-100 selectpicker pr-1" name = "paymentMethod" title = "Sposób płatności" required>                                
                                {% for value in userPaymentMethods %}
                                <option value="{{value.name}}"> {{value.name}} </option>                                
                                {% endfor %}                                
                            </select>
                            <select class="mb-3 w-100 selectpicker pr-1" id = "expenseClass" name = "category" data-live-search = "true" title = "Kategoria" required>                                
                                {% for value in userExpenseCategories %}
                                <option {% if value.expenseLimit != 0 %}data-subtext = "Limit: {{value.expenseLimit}}"{% endif %} value="{{value.name}}"> {{value.name}} </option>
                                {% endfor %}                                                                       
                            </select>
                            <textarea class="form-control ml-1" rows="2" placeholder = "Komentarz" onfocus="this.placeholder=''" onblur="this.placeholder='Komentarz'" name = "comment">{{expenses.comment}}</textarea>
                        </div>
                            <button type="submit" class="btn btn-dark-green btn-block mt-2 ml-1">Dodaj</button>
                            <button type="reset" class="btn btn-unique btn-block mt-2 ml-1">Anuluj</button> 
                    </form>
                </div>
            </div>
        </div>                            
    </article>
</section>
<footer class = "page-footer text-center text-black">2020 &copy; Piotr Romańczak</footer>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src = "/js/expense-limit-warning.js"></script>
{% if success== true %}
<script>                            
    Swal.fire({
    position: 'center',
    icon: 'success',
    title: 'Dodano nowy wydatek',
    showConfirmButton: true,
    timer: 1000                            
    }) 
</script>
{% endif %}
{% endblock %}
