{% extends 'logged.html' %}

{% block title %}FillYourWallet - Dodaj wydatek{% endblock %}

{% block expense %} active {% endblock %}

{% block content %} 
<section>
    <article>
        <header>
            <h2 class = "h2 text-center mt-lg-5 mt-3 pt-lg-5 pt-0">
                Wprowadź wydatek
            </h2>                
        </header>
        <div class = "container">
            <div class="modal fade" id="modalDatePicker" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4>Wprowadź zakres dat dla bilansu</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form action = "" method = "post">
                                <label for="startDate">Od:</label>
                                <input type="date" class="form-control mb-3" name = "beginDate" id = "startDate" required>                                    
                                <label for="endDate">Do: </label>
                                <input type="date" class="form-control mb-3" name = "endDate" id = "endDate" required>
                                <button type="submit" class="btn btn-default btn-success btn-block">Pokaż bilans</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row mt-lg-5 mt-1">
                <div class = "col-12 col-lg-4 offset-lg-4 offset-0"> 
                    <form action = "/addExpense" method = "post">
                        <div class = "form-group income">
                            <input type="text" class="form-control mb-3" placeholder="Kwota" onfocus="this.placeholder=''" onblur="this.placeholder='Kwota'" name = "amount" required>
                            <input type="date" class="form-control mb-3" name = "date" required>
                            <select class="form-control mb-3" name = "paymentMethod" required>
                                <option value="" disabled selected hidden> Sposób płatności</option>
                                <option value="Cash"> Gotówka </option>
                                <option value="Debit Card"> Karta debetowa </option>
                                <option value="Credit Card"> Karta kredytowa </option>
                            </select>
                            <select class="form-control mb-3" name = "category" required>
                                <option value="" disabled selected hidden> Kategoria</option>
                                <option value="Transport">Transport</option>
                                <option value="Books">Książki</option>
                                <option value="Food">Jedzenie</option>					
                                <option value="Apartments">Mieszkanie</option>					
                                <option value="Telecommunication">Telekomunikacja</option>					
                                <option value="Health">Opieka zdrowotna</option>					
                                <option value="Clothes">Ubrania</option>					
                                <option value="Hygiene">Higiena</option>					
                                <option value="Kids">Dzieci</option>					
                                <option value="Recreation">Rozrywka</option>					
                                <option value="Trip">Wycieczka</option>					
                                <option value="Savings">Oszczędności</option>					
                                <option value="For Retirement">Na złotą jesień, czyli emeryturę</option>					
                                <option value="Debt Repayment">Spłata długów</option>
                                <option value="Gift">Darowizna</option>					
                                <option value="Other">Inne</option>                                        
                            </select>
                            <textarea class="form-control" rows="2" placeholder = "Komentarz" onfocus="this.placeholder=''" onblur="this.placeholder='Komentarz'" name = "comment"></textarea>
                        </div>
                        <div class = "input-group" role = "group">
                            <input type="reset" class="btn btn-danger btn-lg btn-block col-6 mt-2 " value="Anuluj">
                            <input type="submit" class="btn btn-success btn-lg btn-block col-6 mt-2 " value="Dodaj">
                        </div>
                    </form>
                </div>
            </div>
        </div>                            
    </article>
</section>
{% endblock %}