{% extends 'logged.html' %}

{% block title %}FillYourWallet - Summary{% endblock %}

{% block main %} active {% endblock %}

{% block content %} 
<section>
    <header>
        <h2 class = "h2 text-center mt-lg-5 mt-3 pt-lg-5 pt-0">
           Podsumowanie bieżącego miesiąca
        </h2>
    </header>            
    <article>                
        <div class = "container">
            <div class="modal fade" id="modalDatePicker" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4>Wprowadź zakres dat dla bilansu</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form action = "/customBalance" method = "post">
                                <label for="beginDate">Od:</label>
                                <input type="date" class="form-control mb-3" name = "beginDate" id = "beginDate" required>                                            
                                <label for="endDate">Do: </label>
                                <input type="date" class="form-control mb-3" name = "endDate" id = "endDate" required>

                                <button type="submit" class="btn btn-default btn-success btn-block">Pokaż bilans</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row"> 
                <div class = "col-12 col-md-6 mt-2 mt-md-4">
                {% if balance.expenseTotal is not empty%}
                <canvas id="pieChart"></canvas>
                {% else %}                
                    <blockquote  class="blockquote mr-sm-3 mr-1">
                        <h5 class = "mb-0 mt-sm-3 mt-1 text-right h5" id = "startQuote">"Sekret polega na wydawaniu tego, co zostaje po odłożeniu oszczędności, a nie oszczędzaniu tego, co nie zostało wydane."</h5> 
                        <footer class="blockquote-footer text-right" id = "startQuote">Frank i Muriel Newman</footer>
                    </blockquote>                
                {% endif %} 
                </div> 
                <div class = "col-12 col-md-6 mt-2 mt-md-4">
                    <h5 class = "mb-3">Ostatnie wydatki:</h5>
                    <table class = "table table-white table-hover mr-0 mr-md-5">
                        {% if balance.expenses is not empty%}{% for value in balance.expenses|slice(0,5) %}
                            <tr><td class = "text-left">{{ value['name'] }}</td>
                            <td class = "text-center">{{ value['amount'] }}</td>
                            <td class = "text-right">{{ value['expenseDate'] }}</td></tr>
                        {% endfor %}{% else %}
                        <tr><td class = "text-center">Nie masz żadnych zapisanych wydatków. <br>Dodaj je w sekcji "Dodaj wydatek". </td></tr>
                        {% endif %}
                    </table>
                </div>
                <div class = "col-12 col-md-6 offset-0 offset-md-3 mt-2 mt-md-4">
                    <h3 class = "summary text-center mt-2 mt-md-4">Saldo: {% if balance.expenseTotal is not empty%}{{balance.balance}}{%else%}0{% endif %} PLN</h3>
                </div>
            </div>
        </div>
    </article>
</section>
{% endblock %}
{% block footer %}
    <footer class = "page-footer text-center text-black">
    2020 &copy; Piotr Romańczak
    </footer>
{% endblock %}
{% block scripts %}
    <script>
            var ctxP = document.getElementById("pieChart").getContext('2d');
            var myPieChart = new Chart(ctxP, {
                type: 'pie',
                data: {
                labels: [{% for value in balance.expenseTotal %}{{ (value['name']|json_encode|raw) }}{{','}}{% endfor %}],
                datasets: [{
                data: [{% for value in balance.expenseTotal %}{{ (value['ROUND(SUM(expenses.amount), 2)'])}}{{','}}{% endfor %}],
                backgroundColor: ["#c858d0", "#9c46d0", "#e01e85", "#ff7300", "#ffae00", "#ffee00", "#52d726", "#1baa2e", "#2dcb74", "#97d9ff"],
                hoverBackgroundColor: ["#b747c0", "#8b35c0", "#d00d74", "#ee6200", "#eead00", "#eedd00", "#41c615", "#0aaa1d", "#2cba63", "#86c8ee"]
                }]
                },
                options: {
                responsive: true
                }
            });
        </script>     
{% endblock %}