
.icon-off:before { content: '\e800'; } /* '' */
.icon-cog-alt:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */