{% extends 'logged.html' %}

{% block title %}FillYourWallet - Edit Profile{% endblock %}

{% block content %} 
<section>
    <header>
        <h2 class = "h2 text-center mt-lg-5 mt-3 pt-lg-5 pt-0">
           Ustawienia
        </h2>
    </header>            
    <article>                
        <div class = "container">
            <div class="modal fade" id="modalDatePicker" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4>Wprowadź zakres dat dla bilansu</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form action = "/customBalance" method = "post">
                                <label for="beginDate">Od:</label>
                                <input type="date" class="form-control mb-3" name = "beginDate" id = "beginDate" required>                                            
                                <label for="endDate">Do: </label>
                                <input type="date" class="form-control mb-3" name = "endDate" id = "endDate" required>
                                <button type="submit" class="btn btn-default btn-success btn-block">Pokaż bilans</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row no-gutters">
                <div class = "col-12 col-lg-4">
                    <h4 class="mb-2 col-12 ">
                        <button class="btn btn-block btn-secondary dropdown-toggle" data-toggle="collapse" data-target="#collapseIncomes" aria-expanded="false" aria-controls="collapseIncomes">
                        Kategorie przychodów
                        </button>
                    </h4>            
                    <div id="collapseIncomes" class="collapse col-12 mb-2" aria-labelledby="Toggle collapse" data-parent="#accordion">
                    <ul class="list-group">
                        {% for value in incomeCategories %}
                        <li class="list-group-item">{{value.name}}
                            <button type ="button" class = "btn btn-danger float-right btnDelete" value="{{ value.name }}" data-toggle="modal" data-target="#deleteIncomeCategory">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                            <button type = "button" class = "btn btn-success float-right btnEdit" value="{{ value.name }}" data-toggle="modal" data-target="#editIncomeCategory">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </button>                            
                        </li>
                        {% endfor %}
                        <li class="list-group-item align-middle">Dodaj nową kategorię
                            <button type = "button" class = "btn btn-sm float-right btn-success btnAdd" data-toggle="modal" data-target="#addNewIncomeCategory">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </button>
                        </li>
                    </ul>
                    </div>
                </div>
                <div class = "col-12 col-lg-4">
                    <h4 class="mb-2 col-12">
                        <button class="btn btn-block btn-secondary dropdown-toggle" data-toggle="collapse" data-target="#collapseExpenses" aria-expanded="false" aria-controls="collapseExpenses">
                        Kategorie wydatków
                        </button>
                    </h4>            
                    <div id="collapseExpenses" class="collapse col-12 mb-2" aria-labelledby="Toggle collapse" data-parent="#accordion">
                    <ul class="list-group">                        
                        {% for value in expenseCategories %}
                        <li class="list-group-item">{{value.name}}
                            <button type ="button" class = "btn btn-danger float-right btnDelete" value="{{ value.name }}" data-toggle="modal" data-target="#deleteExpenseCategory">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                            <button class = "btn btn-success float-right btnEdit" value="{{ value.name }}" data-toggle="modal" data-target="#editExpenseCategory">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </button>                            
                        </li>
                        {% endfor %}
                        <li class="list-group-item align-middle">Dodaj nową kategorię
                            <button type = "button" class = "btn btn-sm float-right btn-success btnAdd" data-toggle="modal" data-target="#addNewExpenseCategory">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </button>
                        </li>
                    </ul>
                    </div>
                </div>
                <div class = "col-12 col-lg-4">
                    <h4 class="mb-2 col-12">
                        <button class="btn btn-block btn-secondary dropdown-toggle" data-toggle="collapse" data-target="#collapsePaymentMethods" aria-expanded="false" aria-controls="collapsePaymentMethods">
                        Metody płatności
                        </button>
                    </h4>            
                    <div id="collapsePaymentMethods" class="collapse col-12 mb-2" aria-labelledby="Toggle collapse" data-parent="#accordion">
                    <ul class="list-group">
                        {% for value in paymentMethods %}
                        <li class="list-group-item">{{value.name}} 
                            <button type ="button" class = "btn btn-danger float-right btnDelete" value="{{ value.name }}" data-toggle="modal" data-target="#deletePaymentMethod">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                            <button class = "btn btn-success float-right btnEdit" value="{{ value.name }}" data-toggle="modal" data-target="#editPaymentMethod">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </button>                            
                        </li>
                        {% endfor %}
                        <li class="list-group-item align-middle">Dodaj nową metodę płatności
                            <button type = "button" class = "btn btn-sm float-right btn-success btnAdd" data-toggle="modal" data-target="#addNewPaymentMethod">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </button>
                        </li>
                    </ul>
                    </div>
                </div>
                <div class = "col-12">
                    <h4 class="mb-2 col-12">
                        <button class="btn btn-block btn-secondary dropdown-toggle" data-toggle="collapse" data-target="#collapseProfileSettings" aria-expanded="false" aria-controls="collapseProfileSettings">
                        Ustawienia profilu
                        </button>
                    </h4>            
                    <div id="collapseProfileSettings" class="collapse col-12" aria-labelledby="Toggle collapse" data-parent="#accordion">
                    <ul class="list-group">
                        <li class="list-group-item">{{user.username}}</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class = "modal fade" id = "editIncomeCategory" tabindex="-1" aria-labelledby="editIncomeCategory" role = "dialog" aria-hidden="true">
                <div class = "modal-dialog" role = "document">
                    <div class = "modal-content">
                        <div class="modal-header text-center">
                            <h4>Edycja kategorii przychodu</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form action = "/edit-income" method = "post">
                                <label for="categoryName">Nazwa kategorii</label>
                                <input type="text" class="form-control mb-3" name = "categoryName" id = "categoryName">
                                <input type="hidden" name = "categoryHiddenName" id = "categoryHiddenName">
                                <button type="submit" class="btn btn-default btn-success btn-block">Zatwierdź</button>
                                <button type="reset" class="btn btn-default btn-danger btn-block" data-dismiss="modal">Anuluj</button>
                            </form>
                        </div> 
                    </div>
                </div> 
            </div>
            <div class = "modal fade" id = "editExpenseCategory" tabindex="-1" aria-labelledby="editExpenseCategory" role = "dialog" aria-hidden="true">
                <div class = "modal-dialog" role = "document">
                    <div class = "modal-content">
                        <div class="modal-header text-center">
                            <h4>Edycja kategorii wydatku</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form action = "/edit-expense" method = "post">
                                <label for="categoryName">Nazwa kategorii</label>
                                <input type="text" class="form-control mb-3" name = "categoryName" id = "categoryName">
                                <input type="hidden" name = "categoryHiddenName" id = "categoryHiddenName">
                                <button type="submit" class="btn btn-default btn-success btn-block">Zatwierdź</button>
                                <button type="reset" class="btn btn-default btn-danger btn-block" data-dismiss="modal">Anuluj</button>
                            </form>
                        </div> 
                    </div>
                </div> 
            </div>
            <div class = "modal fade" id = "editPaymentMethod" tabindex="-1" aria-labelledby="editPaymentMethod" role = "dialog" aria-hidden="true">
                <div class = "modal-dialog" role = "document">
                    <div class = "modal-content">
                        <div class="modal-header text-center">
                            <h4>Edycja metody płatności</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form action = "/edit-payment-method" method = "post">
                                <label for="categoryName">Nazwa kategorii</label>
                                <input type="text" class="form-control mb-3" name = "categoryName" id = "categoryName">
                                <input type="hidden" name = "categoryHiddenName" id = "categoryHiddenName">
                                <button type="submit" class="btn btn-default btn-success btn-block">Zatwierdź</button>
                                <button type="reset" class="btn btn-default btn-danger btn-block" data-dismiss="modal">Anuluj</button>
                            </form>
                        </div> 
                    </div>
                </div> 
            </div>
            <div class = "modal fade" id = "deleteIncomeCategory" tabindex="-1" aria-labelledby="deleteIncomeCategory" role = "dialog" aria-hidden="true">
                <div class = "modal-dialog" role = "document">
                    <div class = "modal-content">
                        <div class="modal-header text-center">
                            <h4>Usuwanie kategorii <span class = "deleteCategory"></span></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form action = "/delete-income-category" method = "post">
                                <p>Wybierz, co chcesz zrobić</p>
                                <div class = "input-group mb-2">
                                    <div class="input-group-btn" data-toggle="buttons">
                                    <label class = "btn btn-block btn-light text-left hideCategories">
                                        <input type = "radio" name = "option" autocomplete="off" value = "delete"> Usuń wszystkie przychody w kategorii
                                    </label>
                                    <label class="btn btn-block btn-light text-left showCategories">
                                        <input type="radio" name = "option" autocomplete="off" value = "keep"> Wybierz kategorię, do której chcesz przenieść przychody
                                    </label>
                                    <select class="form-control mb-3 selectCategories"  name = "categorySelect" style="display: none">
                                        <option value="" disabled selected hidden> Kategoria</option>
                                        {% for value in incomeCategories %}
                                        <option value="{{value.name}}"> {{value.name}} </option>                                
                                        {% endfor %}
                                    </select>
                                    </div>
                                </div>
                                <input type="hidden" name = "categoryHiddenName" id = "categoryHiddenName">
                                <button type="submit" class="btn btn-default btn-success btn-block">Zatwierdź</button>
                                <button type="reset" class="btn btn-default btn-danger btn-block" data-dismiss="modal">Anuluj</button>
                            </form>
                        </div> 
                    </div>
                </div> 
            </div>
            <div class = "modal fade" id = "deleteExpenseCategory" tabindex="-1" aria-labelledby="deleteExpenseCategory" role = "dialog" aria-hidden="true">
                <div class = "modal-dialog" role = "document">
                    <div class = "modal-content">
                        <div class="modal-header text-center">
                            <h4>Usuwanie kategorii <span class = "deleteCategory"></span></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form action = "/delete-expense-category" method = "post">
                                <p>Wybierz, co chcesz zrobić</p>
                                <div class = "input-group mb-2">
                                    <div class="input-group-btn" data-toggle="buttons">
                                        <label class = "btn btn-block btn-light text-left hideCategories">
                                            <input type = "radio" name = "option" autocomplete="off" value = "delete"> Usuń wszystkie wydatki w kategorii
                                        </label>
                                        <label class="btn btn-block btn-light text-left showCategories">
                                            <input type="radio" name = "option" autocomplete="off" value = "keep"> Wybierz kategorię, do której chcesz przenieść wydatki
                                        </label>
                                        <select class="form-control mb-3 selectCategories"  name = "categorySelect" style="display: none">
                                            <option value="" disabled selected hidden> Kategoria</option>
                                            {% for value in expenseCategories %}
                                            <option value="{{value.name}}"> {{value.name}} </option>                                
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <input type="hidden" name = "categoryHiddenName" id = "categoryHiddenName">
                                <button type="submit" class="btn btn-default btn-success btn-block">Zatwierdź</button>
                                <button type="reset" class="btn btn-default btn-danger btn-block" data-dismiss="modal">Anuluj</button>
                            </form>
                        </div> 
                    </div>
                </div> 
            </div>
            <div class = "modal fade" id = "deletePaymentMethod" tabindex="-1" aria-labelledby="deletePaymentMethod" role = "dialog" aria-hidden="true">
                <div class = "modal-dialog" role = "document">
                    <div class = "modal-content">
                        <div class="modal-header text-center">
                            <h4>Usuwanie metody płatności <span class = "deleteCategory"></span></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form action = "" method = "post">
                                <p>Czy na pewno chcesz usunąć tę metodę?</p>                                
                                <button type="submit" class="btn btn-default btn-success btn-block">Zatwierdź</button>
                                <button type="reset" class="btn btn-default btn-danger btn-block" data-dismiss="modal">Anuluj</button>
                            </form>
                        </div> 
                    </div>
                </div> 
            </div>
            <div class = "modal fade" id = "addNewIncomeCategory" tabindex="-1" aria-labelledby="addNewIncomeCategory" role = "dialog" aria-hidden="true">
                <div class = "modal-dialog" role = "document">
                    <div class = "modal-content">
                        <div class="modal-header text-center">
                            <h4>Dodaj nową kategorię przychodu <span class = "deleteCategory"></span></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form action = "/add-income-category" method = "post">
                                <label for="categoryName">Nazwa kategorii</label>
                                <input type="text" class="form-control mb-3" name = "categoryName" id = "categoryName">                                
                                <button type="submit" class="btn btn-default btn-success btn-block">Zatwierdź</button>
                                <button type="reset" class="btn btn-default btn-danger btn-block" data-dismiss="modal">Anuluj</button>
                            </form>
                        </div> 
                    </div>
                </div> 
            </div>
            <div class = "modal fade" id = "addNewExpenseCategory" tabindex="-1" aria-labelledby="addNewExpenseCategory" role = "dialog" aria-hidden="true">
                <div class = "modal-dialog" role = "document">
                    <div class = "modal-content">
                        <div class="modal-header text-center">
                            <h4>Dodaj nową kategorię wydatku <span class = "deleteCategory"></span></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form action = "/add-expense-category" method = "post">
                                <label for="categoryName">Nazwa kategorii</label>
                                <input type="text" class="form-control mb-3" name = "categoryName" id = "categoryName">                                
                                <button type="submit" class="btn btn-default btn-success btn-block">Zatwierdź</button>
                                <button type="reset" class="btn btn-default btn-danger btn-block" data-dismiss="modal">Anuluj</button>
                            </form>
                        </div> 
                    </div>
                </div> 
            </div>
            <div class = "modal fade" id = "addNewPaymentMethod" tabindex="-1" aria-labelledby="addNewPaymentMethod" role = "dialog" aria-hidden="true">
                <div class = "modal-dialog" role = "document">
                    <div class = "modal-content">
                        <div class="modal-header text-center">
                            <h4>Dodaj nową metodę płatności <span class = "deleteCategory"></span></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form action = "/add-payment-method" method = "post">
                                <label for="categoryName">Nazwa metody płatności</label>
                                <input type="text" class="form-control mb-3" name = "categoryName" id = "categoryName">                                
                                <button type="submit" class="btn btn-default btn-success btn-block">Zatwierdź</button>
                                <button type="reset" class="btn btn-default btn-danger btn-block" data-dismiss="modal">Anuluj</button>
                            </form>
                        </div> 
                    </div>
                </div> 
            </div>
        </div>        
    </article>
</section>
{% endblock %}
{% block scripts %}
<script src = "/js/category-settings.js"></script>
<script>
$('.showCategories').click(function() {
       $('.selectCategories').css('display', 'inline'); 
    });
    
    $('.hideCategories').click(function() {
       $('.selectCategories').css('display', 'none'); 
    });
</script>
{% endblock %}